<div class="navbar-header navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if mixture.url == "index" %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/model">Model</a></li>
            </ul>
        </div>
    </div>
</div>
